b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--heading-color);
}

a,
button {
    cursor: pointer;
}

.title:hover,
a {
    text-decoration: none;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    padding-top: 100px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
    font-optical-sizing: auto;
}

body p {
    padding-top: 0em;
    padding-bottom: 0em;

    text-align: justify;
    /* word-spacing: -2px; */
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    text-align: left;
}

code,
time {
    font-family: "JetBrains Mono", monospace;
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin-right: 8px;
}

button {
    margin: 0;
}

time {
    font-style: normal;
    /* font-size: 15px; */
}

main {
    line-height: 1.1;
    font-size: 1.1em;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    padding: 3px;
    border-radius: 3px;
    font-size: small;
}

pre code {
    background: var(--code-background);
    padding: 10px;
    display: block;
}

blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: center;
    color: var(--footer-color);
}

footer a {
    color: var(--footer-color);
    text-decoration: underline;
}

.title h1 {
    font-size: 1.5em;
}

.inline {
    width: auto !important;
}

.code,
.highlight {
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

ul.posts-list li a:visited {
    color: var(--visited-color);
}

ul.posts-list li a {
    color: var(--link-color);
}

ul.posts-list li small {
    font-size: x-small;
    color: gray;
    padding-left: 0.7em;
}

ul.posts-list {
    list-style-type: none;
    padding-left: 0;
}