b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--heading-color);
}

a,
button {
    cursor: pointer;
}

.title:hover,
a {
    text-decoration: none;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);

    padding-top: 3em;
    text-align: justify;
    word-spacing: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
}

code,
time {
    font-family: "JetBrains Mono", monospace;
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

nav a {
    margin-right: 8px;
}

button {
    margin: 0;
}

time {
    font-style: normal;
    font-size: 15px;
}

main {
    line-height: 1.6;
}

table {
    width: 100%;
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    padding: 3px;
    border-radius: 3px;
    font-size: small;
}

pre code {
    background: #011e25;
    padding: 10px;
    display: block;
}

blockquote {
    border-left: 1px solid #999;
    color: var(--blockquote-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px 0;
    text-align: center;
}

.title h1 {
    font-size: 1.5em;
}

.inline {
    width: auto !important;
}

.code,
.highlight {
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: var(--visited-color);
}