:root {
    --width: 720px;
    --font-main:
        ui-sans-serif, system-ui, sans-serif, "JetBrains Mono", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-secondary:
        ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-scale: 1.06em;
    --background-color: #fff;
    --heading-color: #222;
    --text-color: #444;
    --link-color: #478be6;
    --visited-color: #8b6fcb;
    --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0f1117;
        --heading-color: #c6c8d1;
        --text-color: #c6c8d1;
        --link-color: #89b8c2;
        --visited-color: #8b6fcb;
        --blockquote-color: #ccc;
        --code-background: #1a1b26;
        --footer-color: #6b7089;
    }
}