@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --width: 720px;
    --font-main: Inter;
    --font-secondary: Inter;
    --font-scale: 0.96em;
    --background-color: #fff;
    --heading-color: #222;
    --text-color: #444;
    --link-color: #478be6;
    --visited-color: #8b6fcb;
    --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0f1117;
        --heading-color: #c6c8d1;
        --text-color: #c6c8d1;
        --link-color: #89b8c2;
        --visited-color: #8b6fcb;
        --blockquote-color: #ccc;
        --code-background: #1a1b26;
        --footer-color: #6b7089;
    }
}